body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a {  text-decoration: none; }
a:visited, a:link, a:active { text-decoration: none; color:black; }
ul {
    margin: 0;
}

.global {
    font-size: 32px;
}

.div5 {
    background-color: limegreen;
}
.div2 {
    background-color: darkorchid;
}

.div3 {
    background-color: gold;
}

.div4 {
    background-color:aqua;
}

.div7 {
    background-color: royalblue;
}

.div6 {
    background-color:sandybrown
}

.div1 {
    background-color: greenyellow;
}

@media only screen and (max-width: 767px) {
.global {
    font-size: 20px;
}   
}