body {
  
    font-family: 'Cherry Swash', cursive;
    color: #32424e;
    margin: 0;
    padding: 0;
    text-align: center;
   
}
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
a {  text-decoration: none; }
a:visited, a:link, a:active { text-decoration: none; color:#4e04a9; }
ul {
    margin: 0;
    list-style-type: inside;
}
a:hover {
    background-color: #dcbfbf;
    transition: 0.3s;
}

.global {
    font-size: 18px;
   
}
.div1 {
    padding: 5px 5px 4px 5px;
    background-color: #aa65b68a;
    color: #32424e;
}
.div1 a {
    color: #4e04a9;
}

.div2 {
    padding: 5px 5px 4px 5px;
    background-color: #7de781;
    font-family: Arial, Helvetica, sans-serif;
}

.div3 {
    padding: 5px 5px 4px 5px;
    background-color: #7de781;
    font-family: Arial, Helvetica, sans-serif;
}

.div4 {
    padding: 5px 5px 4px 5px;
    background-color: pink;
}

.div5 {
    padding: 5px 5px 4px 5px;
    background-color:#a56e3fbf;;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

text-align: center;
letter-spacing: 0.5px;
}
.div5 a {
    color: #fb28c9;
}
.div9 {
    color: #32424e;
    padding: 5px 5px 4px 5px;
    text-align: center;
    animation: background 4s infinite;
    animation-delay: 1s;
}
.div6 {
    padding: 5px 5px 4px 5px;
    background-color:pink;
    font-family: Arial, Helvetica, sans-serif;
}
.div7 {
    padding: 5px 5px 4px 5px;
    background-color:#a56e3fbf;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.div8 {
    padding: 5px 5px 4px 5px;
    background-color: #4dcc52;
    cursor: pointer;
}
.div10 {
    padding: 5px 5px 4px 5px;
   animation: background 3s infinite;
    cursor: pointer;
    text-align: center;
}

.project-imgs > * {
    
}
@keyframes background {
   0% {background-color: #7e59e8;}
    50% {background-color: pink;}
   100% {background-color: #7e59e8;}
  }

@media only screen and (max-width: 767px) {
    body {
        text-align: left;
    }
.global {
    font-size: 20px;
}   
img {
    max-width: 333px;
}
}