body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a {  text-decoration: none; }
a:visited, a:link, a:active { text-decoration: none; color:black; }
ul {
    margin: 0;
    list-style-type: square;
}

.global {
    font-size: 32px;
}
.div1 {
    background-color: yellowgreen;
}

.div2 {
    background-color: yellowgreen;
}

.div3 {
    background-color:pink;
}

.div4 {
    background-color: yellowgreen;
}

.div5 {
    background-color:pink;
}

.div6 {
    background-color:tomato;
}
.div7 {
    background-color:pink;
}

.div8 {
    background-color: yellowgreen;
    cursor: pointer;
}

.project-imgs > * {
    
}

@media only screen and (max-width: 767px) {
.global {
    font-size: 20px;
}   
img {
    max-width: 333px;
}
}