html {
   
    
}
body {
    margin: 0;
    padding: 0;
}
a:visited { color: inherit; }
a {
    color:inherit;
    text-decoration: none;
    border-bottom: dashed 1px;
    cursor: alias !important;
}
a:hover {
    background: #12f51b85;
}
.external{
    cursor: alias !important; 
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #187806;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  img{
    background-image: none;
    background-color: #e1fd9d;
  }

.yall {
 display: flex;
 align-items: center;
 width: 100vw;
 justify-content: space-around;
 position: fixed;
 height: 100vh;
}

.home {
    overflow: hidden;
}

.very-right:hover .imagestitle {
    display: block;
}


.imagestitle {
    display: none;
    margin: 20px;
 
}
.secret-imgs {
    display: none;
}

/* fonts */

.no-time {
font-family: 'Times New Roman', Times, serif;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.3px;
}
.no-time .links-title {
    letter-spacing: 0.5px;
    }
.swiss-affair {
 font-family:  Helvetica, Arial, sans-serif;
 font-size: 13px;
 line-height: 17px;
 letter-spacing: 0.5px;
}
.swiss-affair .links-title{
    letter-spacing: 1px;
}
.mono-ohno {
 font-family: monospace;
 font-size: 12px;
 line-height: 16px;
}
.mono-ohno a {
    text-transform: uppercase;
}

/* columns */
.very {
    height: 100vh;
 
}



/* very-left */
.very-left {
   min-width: 260px;;
    background-color: 838f86;
    display: flex;
    flex-direction: column;
}
.mynameis {
min-height: 100px;
max-height: 450px;
min-height: 200px;
background-color: #eee7f5;
padding: 20px;
overflow-y: scroll;
overflow: -moz-scrollbars-vertical; 
border-bottom: 1px dashed rgb(95, 6, 139);

}
/* very center */
.very-center {
    min-width: 250px;
    padding: 20px;
    height: -webkit-fill-available;
    background-color: #d169d3;
    overflow-y: scroll;
    color: #3a3636;
}
.latest-links {
  
}
.more-info {
    background-color: #d169d3;
}
/* useful links */
.links-title {
    background: #23d329;
    text-transform: uppercase;
    color: #0f4c0b;
    padding: 2px 0px;
    width: fit-content;
}
.usefullinks {
     background-color:#838f86;
    padding: 20px;
    overflow-y: scroll;
    color: #3a3636;
}
ul {
    list-style-type:none;
    padding-left: 0px;
  }
  i {
    font-size: 8px;
    padding-left: 3px;
  }
li {
    margin: 2px 0;
}


/* hover */

.very-center > * {
    visibility: hidden;
}
.very-center:hover > * {
    visibility: visible;
}

.usefullinks > * {
    visibility: hidden;
}
.usefullinks:hover > * {
    visibility: visible;
}


/* very-right */

.very-right {
    min-width: 100px;
    background-color: #c1c1c1;
    cursor: pointer;
    position: relative;
    cursor: e-resize !important;
   
}
.very-right:hover {
    background: #918f8f;
}
.animate_content {
 width: 100vw !important;
 animation: 2.3s linear animate;
}


@keyframes animate {
  0%
    {transform: scale(1, 1)}

  100%
    {transform: scale(10, 10)}
}


/* images */
.images {
    overflow-x: hidden;
    background: rgb(223, 223, 223);
}
.images-page {
    background-color: #d169d3;
    margin: 0;
    width: 100%;
    animation: mymove 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
    background-color: #d169d3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    animation: mymove2 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

.captions {
    max-width: 500px;
    margin: 20px;
    margin-top: 100px;
}
@keyframes mymove {
    from {background-color: #d169d3;   }
    to {background-color: rgb(223, 223, 223); }
  }
  @keyframes mymove2 {
    from {background-color: #d169d3; }
    to {background-color: transparent; left: -9999px;  }
  }
.clarisa2 img {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-image: none;
    background-color: #c390ff;
}
.clarisa2 img:nth-child(2) {
 /* margin-left: 100px; */
}
.clarisa2 img:nth-child(3) {
    /* margin-left: 200px; */
   }
   .clarisa2 img:nth-child(4) {
    /* margin-left: 400px; */
   }
   .clarisa2 img:nth-child(5) {
    /* margin-left: 500px; */
   }
   .clarisa2 img:nth-child(6) {
    /* margin-left: 300px; */
   }



   .clarisa1 img {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-image: none;
    background-color: #74d08c;
}

    .clarisa1 {
        display: flex;
        flex-direction: column;
    }


.clarisa1 img:nth-child(4) {
/* margin-left: 200px; */
}
.clarisa1 img:nth-child(4) {
/* margin-left: 400px; */
}
.clarisa1 img:nth-child(5) {
/* margin-left: 50px; */
}
.clarisa1 img:nth-child(6) {
/* margin-left: 300px; */
}

.myweb img{
 width: 80%;
 margin: 20px;

}

.ddw {
    flex-direction: column;
    display: flex;
}
.ddw img {
    max-width: 30vw;
    margin: 10px 20px;
}
.ddw  .cam {
    /* margin-left: 300px; */
    width: 300px;
}
.ddw .street {
    /* margin-right: 0px; */
}

/* graphic */

.contrib2 {
    display: flex;
    flex-direction: column;
}
.contrib2 img {
    max-width: 650px;
    margin: 10px 20px;
}
.contrib1 {
    display: flex;
    flex-direction: column;
}
.contrib1 img {
    max-width: 650px;
    margin: 10px 20px;
    background: transparent;
}
.contrib3 {
    display: flex;
    flex-direction: column;
}
.contrib3 img {
    max-width: 650px;
    margin: 10px 20px;
    background: transparent;
}
.imgaes-page a {
    cursor: alias;
}

.grad {
    max-width: 70vw;
}
.thesis img:nth-child(1) {
    max-width: 300px;
    margin: 10px 20px;
}
.install img{
 max-width: 800px;
 margin: 10px 20px;
}
.pool img{
    max-width: 900px;
    margin: 10px 20px;
}
.pool img:nth-child(1){
    max-width: 400px;
}
.tereza {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.tereza img {
    max-width: 800px;
    margin: 10px 20px;
    background: transparent;
}
.tereza img:nth-child(3) {
    max-width: 600px;
    margin: 20px 0px;
    position: relative;
    right: 30px;
}
.sndo img {
    max-width: 600px;
    margin: 10px 20px;
}
.sndo {
    display: flex;
    flex-direction: column;
}
.legs {
    display: flex;
    flex-direction: column;
}
.legs img {
    max-width: 600px;
    margin: 10px 20px;
}
.legs img:first-of-type {
    max-width: 900px;
}
.sauce {
    display: flex;
    flex-direction: column;
}
.sauce img {
    max-width: 550px;
    margin: 10px 20px;
}
.see img {
    max-width: 85vw;
    margin: 10px 20px;
}

.back-btn {
    position: fixed;
    height: 100vh;
    cursor:  w-resize!important;
    width: 30px;
   border-bottom: none;
    z-index: 10;
}
.btn {
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.written-back { 
    display: none;
width: auto;

background: #23d329;
text-transform: uppercase;
color: #0f4c0b;
position: fixed;
height: 15px;

z-index: 10000;
padding: 4px;
letter-spacing: 1px;
cursor: pointer;
position: absolute;
    bottom: 20px;
    left: 20px;
}
.btn:hover {
    opacity: 0.5;
}
.back-btn:hover > .written-back {
    display: block;
}
.btn div:nth-of-type(1) {
    background:#d169d3;
    height: 30%;
    width: 100%;

}
.btn div:nth-of-type(2) {
    background:#c1c1c1;
    height: 20%;
    width: 100%;
   
}
.btn div:nth-of-type(3) {
    background:#838f86;
    height: 35%;
    width: 100%;
}
.btn div:nth-of-type(4) {
    background: #eee7f5;
    height: 15%;
    width: 100%;
 
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .images::-webkit-scrollbar {
    background: #dfdfdf;
    -webkit-appearance: none;
    width: 10px;
  }
  /* .images::-webkit-scrollbar-thumb {
          border-radius: 4px;
  background-color: #8fe2ac;
  }  */

  /* refresh*/


  .refresh {
    position: fixed;
    width: 138px;
    height: 138px;
    bottom: 00;
    padding: 20px;
    bottom: 00;
    right: 0;
    transition        : 1.0s ease all;
	-moz-transition   : 1.0s ease all;
	-webkit-transition: 1.0s ease all;
    cursor: pointer;
    filter: drop-shadow(2px 5px 5px #ffb48c);
    background-color: transparent;

  }
  .refresh:hover  {
        transform               : rotate(180deg);
        -moz-transform          : rotate(180deg);
        -webkit-transform       : rotate(180deg);
        transform-origin        : center;
        -moz-transform-origin   : center;
        -webkit-transform-origin: center;
    
        transition              : transform 1.3s ease all;
        -moz-transition         : -moz-transform 1.3s ease all;
        -webkit-transition      : -webkit-transform 1.3s ease all;
    
}


button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 0;
}
.home {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
}

button span {
    display: none;
    width: auto;
    color: #0f4c0b;
    bottom: 76px;
    position: fixed;
    height: 15px;
    background: #23d329;;
    z-index: 10000;
    right: 61px;
    padding: 4px;
    letter-spacing: 1px;
    cursor: pointer;
}


button:hover > span {
    display: block;
}
.images-title {
    display: none;
}


/* responsive */
@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 770px) {
    .home {
        overflow: auto;
    }
    .very-right {
        width: 100%;
        min-width: unset;
    }
    .very-center {
        width: auto;
        overflow-y: unset;
        min-width: unset;
    }
    .very-left {
        width: 100%;
        min-width: unset;
    }
    .very {
        height: auto;
    }
    .yall {
        height: auto;
        flex-direction: column;
        position: relative;
    }
    .usefullinks > * {
        visibility: visible;
    }
    .very-center > * {
        visibility: visible;
    }
    .usefullinks {
        display: flex;
    }
    .usefullinks div {
        width: calc(100% / 3);
    }
    .usefullinks div:nth-of-type(1),  .usefullinks div:nth-of-type(2) {
        margin-right: 20px;
    }
    button span {
        display: block;
    }
    .btn_nav {
        height: 60px;
    }
    .images-title {
        display: block;
        margin: 20px;
    }
    .refresh {
        width: 100px;
        height: 100px;
    
    }
    button span {
        bottom: 62px;
        right: 40px;
    }

}

@media only screen and (max-width: 500px) {
    .usefullinks {
            flex-wrap: wrap;
    }
    .usefullinks div {
        width: 43%;
    }
    .div3 {
        margin-top: 20px;
    }
    .btn {
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 100vw;
    }
    .btn > div {
        height: 30px;
    }
    .btn div:nth-of-type(1) {
        height: 30px;
    }
    .btn div:nth-of-type(2) {
        height: 30px;
    }
    .btn div:nth-of-type(3) {
        height: 30px;
    }
    .btn div:nth-of-type(4) {
        height: 30px;
    }
    .captions {
        max-width: 90%;
        margin: 20px;
        margin-top: 50px;
    }
    .project img, .thesis img:nth-child(1), .tereza{
        max-width: 90%;
        width: 90%;
    }
    .grad {
        max-width: 90vw;
    }
    .tereza img:nth-child(3) {
        max-width: 90%;
        margin: 20px 0px;
        position: relative;
        right: auto;
    }
}