body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}
button:focus {outline:0;}

a {
    text-decoration: none;
    color: black;
}
.clarisa-audio {
display: flex;
    margin: auto;
}
.clarisa-audio:focus {
    outline: none;
}
.read-more-btn {
    display: none;
}
#loading, #loading2 , #loading3, #loading4, #loading5, #loading6, #loading7 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: white;
    z-index: 99;
    text-align: center;
  }
  
  #loading-image {
   width: 400px;
   margin-top: 300px;
    z-index: 100;
    -webkit-animation: blink2 1s step-end infinite;
    animation: blink2 1s step-end infinite;
  }

  @-webkit-keyframes blink2 { 
      50% { 
          visibility: hidden;
        }}
    @keyframes blink2 { 
        50% { 
            visibility: hidden; 
        }}


/* .stamp {
    bottom: 42px;
    left: 20px;
    position: fixed;
    z-index: 100000;
    width: 100px;
    animation: blink2 1s step-end infinite;
} */
@keyframes spin { 100% 
    { -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } }

.heart-ctn {
    margin-top: 54px;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart-btn:focus {outline:0;} 

.heart-btn:hover {
    background: url("./assets/heart_fill.svg") no-repeat ;
    width: 33px;
    margin-top: 13px;
}
.heart-txt {
    width: 350px;
}

.heart-txt span {
    font-family: "Times New Roman";   
    color: #999999;
    font-size: 18px;
}

.heart-txt span:first-child {
    font-size: 24px;
}

.heart-cln {
    margin-left: 90px;
}

.heart-cln div span {
    margin: 20px;
    font-family: "Times New Roman";   
    color: #999999;
    font-size: 20px;
}
.heart-cln div {
    display: flex;
    align-items: center;
}
/* modal here for artists */

.modal {
    position: fixed;
    z-index: 11;
    height: calc(100% - 54px);
    top: 55px;
    background-color: #fafafa;
    width: 100%;
    left: 0;
    display: none;
}


.modal.open {
    display: flex;
}
.footnote {
    color: #999999;
    font-size: 23px;
    cursor: pointer;
}
.footnote:hover {
color: black;
}

.klara-footnote {
    margin-left: 30px;
    position: absolute;
    margin-top: 16px;
}
.ben-footnote {
    position: absolute;
    top: 254px;
    left: 627px;
}
.ben-footnote-1 {
    position: absolute;
    top: 254px;
    left: 644px;
}
.ben-footnote-2 {
    position: absolute;
    top: 293px;
    left: 627px;
}


.sc-footnote {
    position: absolute;
    top: 143px;
    margin-left: -50px;
}
.sc-footnote-1 {
    position: absolute;
    top: 143px;
    margin-left: -35px;
}
/* basic home elements */
.home {    
        width: 100%;
        height: 100vh;    
        overflow: hidden;
        width: 100%;
        object-fit: cover;
        position: fixed; 
}
.header {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid #999999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fafafa;
    z-index: 10;
}
#date-available {
    margin: 0;
    background-color: #fcfcfc;
    color: rgb(153, 153, 153);
}
.newsletter {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    flex: 0 1 auto;
    min-width: 125px;
    width: 215px;
    border: 1px solid #999999;
    color: rgb(153, 153, 153);
}
.newsletter span {
    font-family: "Times New Roman";   
}
.newsletter-logo {
    display: none;
    width: auto;
    height: 18px;
}

.newsletter:hover>.newsletter-logo {
    display: block;
}
.newsletter:hover> span{
    display: none;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heart  {
    width: 33px;
    cursor: pointer;
}

.heart:hover {
    background: url("./assets/heart_fill.svg") no-repeat ;
    width: 33px;
}

.modal-4--ctn {
    margin-top: 30px;
    color: grey;
    padding: 10px;
}
.home_btn {
    cursor: pointer;
    margin: 0 20px;
}
.home_btn img {
    width: 25px;
}

.home_btn img:hover {
    background: url("./assets/house_fill.svg") ;
    width: 25px;
}


.available {
    color: rgb(153, 153, 153);
    font-size: 14px;
    margin-left: 50px;
}

.countdown {
    color: rgb(153, 153, 153);
    font-size: 34px;
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
    font-family: "Times New Roman";   
}
.countdown p {
    text-align: center;
}
#date-launch {
 
    color: rgb(153, 153, 153);
}

.content {
    margin: 0 100px;
    margin-top: 54px;
  
    /* padding-top: 30px; */
}
.right--ctn {
   right:0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}
.plus1ctn {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-left: 1px solid #999999;
    height: auto;
    padding: 0px 0 0 2px;
    background-color: #fafafa;
}
.plus1ctn a {
    cursor: pointer;
}
.plus1  {
    height: 22px;
    width: 22px;
    margin: 5px;;
    border-radius: 50%;
    border: 1px solid #999999;
}
.plus1:hover {
    cursor: pointer;
    background: white;
}
.plus1-url {
    visibility: hidden;
    color: rgb(153, 153, 153);
    font-size: 10px;
    position: absolute;
    left: 46px;
    margin-top: -27px;

}
.plus1:hover~.plus1-url{
   visibility: visible;
}

.plus1-title {
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    color: rgb(153, 153, 153);
    font-size: 22px;
    padding-left:12px;
    cursor: pointer;
    z-index: 2;
}
.modal-ppp {
    background-color: transparent;
    position: absolute;
    max-width: 200px;
    top: 443px;
    left: -43px;
    height: auto;
    cursor: pointer;
}
.modal-ppp-ctn {
    background-color: white;
    border: 1px solid #999999;
    font-size: 12px;
    padding: 8px;
    margin: 6px;
    max-height: 133px;
    color: rgb(153, 153, 153);

}

/* merle */

.merle {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #999999;
    width: 10px;
    height: 10px;
    top: 100px;
    left: 200px;
    z-index: 10;
    background-color: #fafafa;
}
.merle:hover {
    background-color: white;
}
.modal-m {
    position: fixed;
    padding-left: 3vw;
}

.merle-intro, .laura-intro {
    border: 1px solid #999999;
    font-size: 18px;
    color: rgb(153, 153, 153);
    font-family: "Times New Roman";   
    background-color: #fafafa;
    position: absolute;
    padding: 15px;
    width: 380px;
    left: 50px;
    line-height: 20px;
    margin: 0;
    top: 40px;
    border-radius: 3px;
    z-index: 1;
}
.laura-intro {
    width:238px;
}

.merle-quote {
    font-size: 14px;
    line-height: 16px;
}
.merle-intro a, .laura-intro a {
    color: rgb(153, 153, 153);
    cursor: pointer;
    z-index: 2;
    font-family:  "times new roman";
}
.laura-intro a {
    font-size: 12px;
}
.merle-intro a:last-of-type {
    color: rgb(153, 153, 153);
    cursor: pointer;
    z-index: 2;
    font-size: 12px;
    font-family:  "times new roman";
}

.merle-img   {
  opacity: 0;
  transition: .5s ease;
}
.merle-div{
    /* border: 1px solid #999999; */
    background-color: white;
}

.merle-div:hover .merle-img   {
    opacity:1;
}

.merle-div-1 {
    position: absolute;
    width: 412px;
    top: 235px;
    left: 50px;
}

.merle-1 {
    position: relative;
    width: 412px;
}

.merle-div-2 {
    position: absolute;
    width: 350px;
    top: 40px;
    left: 490px;
}
.merle-2 {
  position: relative;
  width: 350px;
}
.merle-div-3 {
    position: absolute;
    width: 171px;
    top: 479px;
    left: 490px;
}
.merle-3 {
    position: relative;
    width: 171px;
}
.merle-div-4 {
    position: absolute;
    width: 152px;
    top: 479px;
    left: 689px;
}
.merle-4 {
    position: relative;
    width: 152px;
}
.merle-div-5 {
    position: absolute;
    top: 40px;
    width: 280px;
    left: 873px;
}
.merle-5 {
    position: relative;
    width: 280px;
}
.merle-div-6 {
    position: absolute;
    width: 280px;
    left: 873px;
    top: 373px;
}
.merle-6 {
    position: relative;
    width: 280px;
}

/* laura */

.laura {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #999999;
    width: 10px;
    height: 10px;
    top: 126px;
    left: 200px;
    z-index: 10;
    background-color: #fafafa;
}

.laura:hover {
    background-color: white;
}
.modal-lau {
    position: fixed;
}

.modal-lau--ctn {
    margin: 34px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-lau--ctn iframe {
    border-radius: 3px;
    border: 1px solid #999999;
    position: absolute;
    width: 102vw;
    top: 0;
    height: 93vh;
}

/* join */

.info-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    margin-top: 54px;
    height: 92vh;
    flex-direction: column;
}

.clarisa-audio-2 {
    display: flex;
}
.clarisa-audio-2:focus {
    outline: none;
}
.join-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-top: 54px;
    height: 92vh;
}
.join-ctn {
    display: flex;
    padding: 30px 30px 35px 30px;
    margin: 0 100px;
    border-radius: 3px;
    border: 1px solid #999999;
    color: #999999;
    background-color: #fafafa;
    font-family: "Times New Roman"; 
    font-size: 16px;
    align-items: center;
}
.join-ctn a {
    color: #999999;
}

.join-quest {
    font-size: 20px;
}
.join-left {
    padding-right: 30px;
    flex: 1;
}
.join-right {
    padding-left: 30px;
    flex: 1;
}
.join-link {
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15px;
    padding-left: 20px;
}

/* newsletter */
.news-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-top: 54px;
    height: 92vh;
    flex-direction: column;
}
.news-ctn{
    display: flex;
    padding: 30px;
    margin: 20px 100px;
    border-radius: 3px;
    border: 1px solid #999999;
    color: #999999;
    background-color: #fafafa;
    font-family: "Times New Roman";
    font-size: 18px;
    flex-direction: column;
    align-items: center;
} 
.news-ctn form input {
    color: grey;
    border: 1px solid #999999;
    padding: 5px;
    margin: 0 10px;
}
.news-ctn form label {
    padding: 0 10px;

}
.spam {
    font-size: 14px;
    padding: 10px;
}

.call, .call2, .call3, .call4  {
    cursor: pointer;
    text-decoration: underline;
}
.call-img {
    visibility: hidden;
    position: absolute;
    
}
.center--ctn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.artist-center--ctn {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 83vh;

}
.artist-center {
    height: 80px;
    width: 80px;
    margin: 25px;
    border-radius: 50%;
    border: 1px solid #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 300;
    color: rgb(153, 153, 153);
    background-color: #fafafa;
    z-index: 10;
}
.artist-center:hover {
    background-color: white;
    color: grey;
    cursor: pointer;
}
.artist-center a {
    color: rgb(153, 153, 153);
}

.logo--main {
    top: 57px;
    cursor: pointer;
    left: 220px;
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #999999;
    z-index: 10;
    margin: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 300;
    color: rgb(153, 153, 153);
    background-color: #fafafa;
    transition: all 1s linear;
        -moz-transition: all 1s linear;
        -webkit-transition: all 1s linear;
}
.logo--main:hover {
        transform:  rotate(360deg) ; 

}
.logo--main a {
    color: rgb(153, 153, 153); 
}
@media only screen and (max-width: 1200px) {
    .logo--main {
        left: 90px;
    }
}

.logo-klarisa {
    cursor: pointer;
    height: 90vh;
}
.logo-ctn {
    position: relative;
    height: auto;
    margin: auto;
    padding-top: 200px;
    display: flex;
    width: 90%;
}


.modal-logo {
    background: transparent;
}

.modal-logo-1 {
    border: 1px solid #999999;
    color: #999999;
    background-color: white;
    position: absolute;
    padding: 20px;
    top: 100px;
    left: 200px;
    max-width:300px;
    font-family: "Times New Roman"; 
}
.modal-logo-2-3 {
    position: absolute;
    bottom: 100px;
    right: 200px;
    font-family: "Times New Roman"; 
}
.modal-logo-2 {
    border: 1px solid #999999;
    color: #999999;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    max-width:300px;
    font-family: "Times New Roman"; 
}
.modal-logo-2 span:first-child {
    font-size: 18px;
}
.modal-logo-3 {
    border: 1px solid #999999;
    color: #999999;
    background-color: white;
    padding: 20px;
    max-width:300px;
    font-family: "Times New Roman"; 
    font-size: 18px;
}
.modal-logo-3 a {
    color: #999999;
}

.info--main  {
    position: absolute;
   display: flex;
   top: 64px;
   right: 166px;
   z-index: 10;
}
.info {
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    flex: 0 1 auto;
   width: auto;
    border: 1px solid #999999;
    color: rgb(153, 153, 153);
    height: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 12px;
}
.join {
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #999999;
    color: rgb(153, 153, 153);
    font-size: 12px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: white;
}


.adds-bottom-ctn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.adds-bottom {
position: fixed;
display: flex;
bottom: 0;
margin:auto;
border-top: 1px solid #999999;
}

.add-bottom {
    margin: 10px 10px 0 10px;
    width: 300px;
    height: 270px;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-color: #fafafa;
    /* background: linear-gradient(100deg, #DDDDDD, white , #EFEFEF);
    animation: movinggradient 2s ease infinite;
    background-size: 200%; */
}
.add-bottom:hover {
    background-color: #E8E5E5;
    cursor: pointer;
}
.add-bottom1:hover{
    background-image: url(./assets/adds/MIGLE_2020_1_Clarissa.jpg);
    -moz-animation: blink normal 15s linear infinite ; /* Firefox */
    -webkit-animation: blink normal 15s linear infinite ; /* Webkit */
    -ms-animation: blink normal 15s linear infinite ; /* IE */
    animation: blink normal 15s linear infinite ;
}
.add-bottom2:hover{
    background-image: url(./assets/adds/furtherassistance.jpg);
    -moz-animation: blink normal 25s linear infinite ; /* Firefox */
    -webkit-animation: blink normal 25s linear infinite ; /* Webkit */
    -ms-animation: blink normal 25s linear infinite ; /* IE */
    animation: blink normal 25s linear infinite ;
}
.add-bottom3:hover{
    background-image: url(./assets/adds/diptych\ clarisa.jpeg);
    -moz-animation: blink normal 15s linear infinite ; /* Firefox */
    -webkit-animation: blink normal 15s linear infinite ; /* Webkit */
    -ms-animation: blink normal 15s linear infinite ; /* IE */
    animation: blink normal 15s linear infinite ;
}
.add-center1:hover{
    background-image: url(./assets/adds/nona.jpg);
    -moz-animation: blink normal 35s linear infinite ; /* Firefox */
    -webkit-animation: blink normal 35s linear infinite ; /* Webkit */
    -ms-animation: blink normal 35s linear infinite ; /* IE */
    animation: blink normal 35s linear infinite ;
}
.add-center2:hover{
    background-image: url(./assets/adds/rose.png);
    -moz-animation: blink normal 20s linear infinite ; /* Firefox */
    -webkit-animation: blink normal 20s linear infinite ; /* Webkit */
    -ms-animation: blink normal 20s linear infinite ; /* IE */
    animation: blink normal 20s linear infinite ;
}
/* .add-center3:hover{
    background-image: url(./assets/adds/diptych\ clarisa.jpeg);
    -moz-animation: blink normal 5s linear infinite ; 
} */



.adds-center {
    position: fixed;
    left: 21vw;
}

.add-center {
    margin: 10px 10px 0 10px;
    width: 520px;
    max-width: 614px;
    height: 200px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: #fafafa;
    /* background: linear-gradient(300deg, #DDDDDD, white , #EFEFEF); */
    animation: movinggradient 2s ease infinite;
    background-size: 200%;
}
.add-center:hover {
    background-color: #E8E5E5;
    cursor: pointer;
}
.add-center3:hover{
    cursor: auto;
    background-color:#fafafa;
}

.adds--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin: 100px 0;
    left: 50px;
    z-index: 5;
}

/* clement */

#clement {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
}
.clement-ctn{
    padding: 0px;
    margin: 0px;
    height: 91vh;
    width: 4433px;
    margin-top: 55px;
    display: flex;
}

.clement-ctn--1 {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 100px;
}
.clement-ctn--1 img   {
    margin: 10px;
    max-height: 500px;
    border: 1px solid #999999;
    cursor: pointer;
}
.clement-ctn--2 {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.clement-ctn--3 {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.clement-ctn--3 img   {
    margin: 10px;
    max-height: 300px;
    border: 1px solid #999999;
    cursor: pointer;
}

.clement-ctn--3-1 {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.clement-ctn--3-1 img   {
    margin: 10px;
    max-height: 300px;
    border: 1px solid #999999;
}
.clement-ctn--3-1-1 {
    display: flex;
  flex-direction: column;
}


.clement--caption--1 {
    display: none;
    width: 400px;
    color: #999999;
    padding: 5px;
    z-index: 1;
    font-family: "Times New Roman"; 
      
}

.clement-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border: 1px solid #999999;
    cursor: pointer !important;
    margin-right: 20px;
}
.clement-circle:hover {
    background-color: #999999;
}
.clement-circle:last-child {
    margin-left: 50px;
}

.clement-active.clement-circle {
    background-color: #999999;
  }

.clement-itw {
    max-width: 450px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    z-index: 1;
    font-family: "Times New Roman";
    position: absolute;
    margin: 0px;
    font-size: 14px;
}
.clement-question {
    font-size: 18px;
}


.modal-c-1, .modal-c-2, .modal-c-3, .modal-c-4 , .modal-c-5 {
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.modal-c1--ctn {
    background-color: #fafafa;
    border: 1px solid #999999;
    width: 500px;
    height: 500px;

}


/* SERPENT CLAWS */
.serpent-itw-container {
    padding: 50px 0;
    margin: 0px;
    margin-top: 55px;
    display: flex;
    position: static;
    flex-wrap: wrap;
    margin-left: 50px;
}
.serpent-itw {
    min-width: 300px;
    min-height: 200px;
}
.serpent-dotdotdot {
    font-size: 30px;
    padding: 100px 20px;
    font-family: "Times New Roman";
    color: #999999;
    cursor: pointer;
}
.serpent-itw-cnt {
   visibility: hidden;
    max-width: 350px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    z-index: 1;
    font-family: "Times New Roman";
    position: absolute;
    margin: 0px;
    font-size: 14px;
}
.serpent-dotdotdot:hover~.serpent-itw-cnt {
   visibility: visible;
}

.serpent-question {
    font-size: 18px;
}
.serpent-circles {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    right: 400px;
    top: 500px;
}
.serpent-circle { 
    border: 1px solid #999999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fafafa;
    margin: 5px 8px;
    cursor: pointer;
}
.serpent-circle:hover { 
    background-color: #999999;
    cursor: pointer;
}
.serpent-circle-active { 
    background-color: #999999;
    cursor: pointer;
}
.serpent-img   {
    display:none;
}


.serpent-circles-ctn {
    display: flex;
    flex-direction: column-reverse;
}

.serpent-imgs-double-ctn {
    position: absolute;
    left: 300px;
    bottom: 100px;
    
}
  

.serpent-imgs-double img   {
    height: 200px;
    width: 150px;
    border-radius: 5px;
    margin: 0 5px;
    object-fit: cover;
  
}

.serpent-imgs-solo-ctn {
    position: absolute;
    right: 200px;
    bottom: 100px;
}
  
.serpent-imgs-solo img   {
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    width: 150px;
   
}

.double-2, .solo-2, .double-3, .double-4, .double-5, .double-6, .solo-4, .solo-5, .solo-6, .solo-3 {
    display: none;
}

  /* Klara */
  .artist-header {
    color: rgb(153, 153, 153);
    margin-left: 0px;
  
  }
  .artist-header a {
    color: rgb(153, 153, 153);
    cursor: pointer;
    margin-left: 30px;
    z-index: 2;
    font-size: 18px;
  }
  .artist-header a:first-of-type {
    margin-left: 0px;
  }
  .artist-bio {
    font-size: 18px;
    /* margin-left: 20px; */
    margin-right: 40px;
  }
  .klara {
      position: fixed;
      display: flex;
      margin-top: 54px;
      width: 100%;
      justify-content: space-between;
  }
  .klara-img-ctn {
    width: 37vw;
    height: 95vh;
  }
  .klara-imgs {
    /* margin-top: 75px; */
    margin-left: 20px;
   visibility: hidden;
  }
  .klara-imgs img   {
    max-width: 800px;
    position: absolute;
  }
  #klara-img2 {
    width: 60vw;
    padding-top: 30px;
  }
  #klara-img1 {
    width: 60vw;
    padding-top: 30px;
  }
  #klara-img4 {
    width: auto;
    max-width: 430px;
  }
  .klara-circles div {
    border: 1px solid #999999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    margin: 9px 5px;
    cursor: pointer;
  }
  .klara-circles div:hover {
      background-color: #999999;
  }
  .klara-circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 20px;
  }
  .klara-itw {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .klara-itw-ctn {
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    z-index: 1;
    font-family: "Times New Roman";
    position: absolute;
    margin: 0px;
    font-size: 14px;   
  }
  #klara-itw2 {
        top: 75px;
      visibility: hidden;
      font-size: 14px;
      margin: 0 20px 0 35px;
      width: 360px;
      right: 0;
  }
  #klara-itw4 {
    bottom: 140px;
  visibility: hidden;
  font-size: 14px;
  margin: 0 20px 0 35px;
  width: 360px;
  right: 0;
}
  #klara-itw3 {
    margin: 0 20px 0 35px;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      font-size: 14px;
  }
  #klara-itw3 .klara-itw-ctn {
    width: 360px;
    margin: 0 20px 0 35px;
  }
  #klara-itw3 .klara-itw-ctn img   {
    max-width: 300px;
}
.klara-itw3-1 {
    bottom: 294px;
font-size: 14px;
width: 360px;
right: 0;
}
.klara-itw3-2  {
    width: 360px;
    bottom: 216px;
    color: #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    z-index: 1;
    font-family: "Times New Roman";
    margin: 0px;
    font-size: 18px;  
    right: 0;
}
.klara-itw3-2  a{
    font-family: "Times New Roman";
    color: #999999;
}
.klara-itw3-3 {
    bottom: 120px;
    border: none;
    right: 0;
    background-color: white;
}
  .klara-question {
      font-size: 18px;
  }
 #klara-img4{
    width: 63vw;
    max-width: none;
  }
  #klara-img3 {
    width: 58vw;
    max-width: 706px;
    bottom: 100px;
  }
  #klara-img4 {
    width: 100%;
    max-width: 726px;
    position: absolute;
    bottom: 100px;
  }
  
  /* op */
  .open-days{
      margin-top: 55px;
  }
  .open-day-header {
    color: rgb(153, 153, 153);
   
    font-size: 20px;
  }
  .open-day-header a {
    color: rgb(153, 153, 153);
    cursor: pointer;
    margin-left: 20px;
    z-index: 5;
  }
  .open-days-intro {
    right: 150px;
    width: 300px;
    color: #999999;
    background-color: #fafafa;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 8px;
    z-index: 1;
    font-family: "Times New Roman";
    margin: 0px;
    font-size: 12px;  
    position: absolute;
    margin-top: 20px;
  }
  .open-days-circles {
      display: flex;
    align-items: center;
    height: 420px;
    margin-left: 80px;
  }
  .open-days-circle {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #fafafa;
      border: 1px solid #999999;
      cursor: pointer !important;
      margin: 0 45px;
  }
  

  .open-days-circle:hover {
    background-color: #999999;
  }
  .open-days-active.open-days-circle {
    background-color: #999999;
  }

  

  .modal-op-1 ,  .modal-op-2 {
    background: transparent;
  }
  .modal-op-1--ctn, .modal-op-2--ctn {
    margin-left: 120px;
  }
  .modal-op-1--ctn img   {
    max-width: 223px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    position: absolute;
    top: 260px;
    left: 580px;

}
  .op-question {
      font-size: 18px;
  }
  .op-itw {
    max-width:400px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    z-index: 1;
    font-family: "Times New Roman";
    position: absolute;
    margin: 0px;
    font-size: 14px;   
  }
  .itw-icon {
    font-family:  Helvetica, Arial, sans-serif;
    border-radius: 50%;
    border: 1px solid #999999;
    background-color: #fafafa;
    padding: 2px 3px;
    font-size: 10px;
  }

  .itw-icon--s {
    font-family:  Helvetica, Arial, sans-serif;
    border-radius: 50%;
    border: 1px solid #999999;
    background-color: #fafafa;
    padding: 2px 2px 1px;
    font-size: 8px;
    margin-right: 0.5px;
  }

.op-itw-1 {
    top: 260px;
}
.op-itw-2 {
    top: 460px;
}
.op-itw-3 {
    margin-left: 30px;
    max-width: 471px;
    top: 20px;
}
.op-itw-3-2 {
    margin-left: 30px;
    max-width: 360px;
    top: 42px;
    left: 585px;
}
.modal-op-2--ctn img   {
    max-width: 700px;
    max-height: 300px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    position: absolute;
    top: 294px;
    left: 688px;
}

.modal-op-3 {
background-color: transparent;
}
.modal-op-3--ctn img   {
    max-width: 500px;
    max-height: 300px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    position: absolute;
    top: 302px;
    left: 150px;
}

.modal-op-4 {
    background: transparent;
}
.modal-op-4--img-1 {
    max-width: 500px;
    max-height: 300px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    position: absolute;
    left: 650px;
    top: 350px;
   
}
.modal-op-4--img{
    width: 380px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    position: absolute;
    top: 425px;
    left: 230px;
}
.op-itw-4 {
    margin-left: 30px;
    max-width: 350px;
    top: 20px;
    left: 200px;
}
.modal-op-5--img{
    max-width: 300px;
    max-height: none;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    position: relative;
    margin: 10px;
    align-self: center;
    margin-top: 65px;
}
.modal-op-5 {
    background-color: transparent;
}
.modal-op-5--ctn {
   display: flex;
   margin-left: 100px;
}
.op-itw-5-1 {
    position: relative;
    height: auto;
    margin: 10px;
    align-self: center;
    max-width: 350px;
}
.op-itw-5-2 {
    position: relative;
    height: auto;
    margin: 10px;
    align-self: baseline;
    max-width: 350px;
}
.modal-op-6 {
    background-color: transparent;
}
.op-itw-6-1 {
    max-width: 270px;
    bottom: 50px;
    left: 320px;
}
.op-itw-6-2 {
    max-width: 350px;
    left: 860px;
    bottom:182px;
}
.modal-op-6--img-1 {
    position: absolute;
    max-width: 200px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    bottom: 50px;
    left: 100px;
}
.modal-op-6--img-2 {
    position: absolute;
    bottom: 184px;
    left: 643px;
    max-width: 200px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
}
.modal-op-7 {
    background-color: transparent;
}
.op-itw-7-1 {
    max-width: 340px;
    bottom: 250px;
    left: 100px;
}
.op-itw-7-2 {
    max-width: 300px;
    left: 850px;
    top: 370px;
}
.modal-op-7--img   {
    position: absolute;
    max-width: 320px;
    /* border: 1px solid #999999; */
    border-radius: 5px;
    top: 370px;
    left: 500px;
}

/* xenia */
.xenia {
    position: fixed;
    height: 94vh;
    margin-top: 54px;
}
.xenia-header {
    color: rgb(153, 153, 153);
    margin-left: -70px;
    font-size: 20px;
}
.xenia img   {
    width: 150px;
    border-radius: 8px;
}


.xenia video {
  
    border-radius: 8px;
    width: 150px;
    margin: 10px;
}

.xenia-video-div1 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 200px;
    left: 140px;
}
.xenia-video-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 555px;
}
#xenia-video-2 {
    height: 150px;
    width: auto;
}
#xenia-img1 {
    position: absolute;
    top: 440px;
    left: 900px;
    height: 150px;
    width: auto;
}

#xenia-img2 {
    top: 100px;
    position: absolute;
    left: 855px;
    height: 150px;
    width: auto;
}

.xenia-question {
    font-size: 18px;
}
.xenia-itw {
    margin: 20px;
}
.xenia-dotdotdot {
    font-size: 30px;
    padding: 40px 20px;
    font-family: "Times New Roman";
    color: #999999;
    cursor: pointer;
}
.xenia-dotdotdot-1 {
    position: absolute;
    top: 440px;
    left: 135px;
}

.xenia-dotdotdot-2 {
    position: absolute;
    top: 440px;
    left: 202px;
}
.xenia-dotdotdot-3 {
    position: absolute;
    top: 440px;
    left: 266px;
}
.xenia-dotdotdot-4 {
    position: absolute;
    top: 440px;
    left: 460px;
}
.xenia-dotdotdot-5 {
    position: absolute;
    top: 440px;
    left: 802px;
}
.xenia-dotdotdot-6 {
    position: absolute;
    top: 440px;
    left: 1015px;
}
.xenia-itw-cnt {
    max-width: 30%;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    z-index: 1;
    font-family: "Times New Roman";
    position: absolute;
    margin: 20px;
    font-size: 14px;
}

.modal-xen-1 {
    background-color: transparent;
    left: 3%;
    align-items: center;
}
.modal-xen-2 {
    background-color: transparent;
    left: 32%;
    align-items: flex-start;
    margin-top: 36px;
}
.modal-xen-3 {
    background-color: transparent;
    left: 32%;
    align-items: center;
    margin-top: 135px;
}
.modal-xen-4{
    background-color: transparent;
    left: 61%;
    align-items: flex-start;
    margin-top: 36px;
}
.modal-xen-5 {
    background-color: transparent;
    left: 61%;
    align-items: center;

}

.modal-xen-6 {
    background-color: transparent;
    left: 61%;
    align-items: center;
    margin-top: 160px;
}


.xenia-caption {
    position: absolute;
    height: 30px;
    width: 400px;
    top: 540px;
    left: 155px;
    color: #999999;
}
#xenia-video1-caption, #xenia-video2-caption, #xenia-video3-caption,  #xenia-img1-caption, #xenia-img2-caption, #xenia-img3-caption{
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    font-family:  'Times New Roman', serif;
}

/* ben */

.ben{
    position: fixed;
    display: flex;
    margin-top: 54px;
    width: 100%;
    margin-left: 250px;
}


.ben-dot1 {
    border: 1px solid #999999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    cursor: pointer;
    position: absolute;
    top: 260px;
    left: 600px;
}
.ben-dot1:hover, .ben-dot2:hover, .ben-dot3:hover, .ben-dot4:hover {
    background-color: #999999;
}
.ben-dot2 {
    border: 1px solid #999999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 600px;
}
.ben-dot3 {
    border: 1px solid #999999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    cursor: pointer;
    position: absolute;
    top: 400px;
    left: 100px;
}
.ben-dot4 {
    border: 1px solid #999999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    cursor: pointer;
    position: absolute;
    top: 550px;
    left: 350px;
}
.ben-question {
    font-family: "Times New Roman";
    font-size: 18px;;
}
.ben-ctn-1-img   {
    border-radius: 3px;
    width: 200px;
    top: 80px;
    left: 150px;
    position: absolute;
}
.ben-ctn-1-itw {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 350px;
    position: absolute;
    left: 200px;
    top: 300px;
}
.ben-content-1 , .ben-content-2 , .ben-content-3, .ben-content-4{
    display:none;
}


.ben-ctn-2-img-1 {
    position: absolute;
    width: 220px;
    left: -115px;
    top: 140px;
    border-radius: 3px;
}
.ben-ctn-2-img-2 {
    position: absolute;
    width: 184px;
    top: 433px;
    left: 110px;
    border-radius: 3px;
}
.ben-ctn-2-img-3 {
    position: absolute;
    width: 200px;
    top: 140px;
    left: 140px;
    border-radius: 3px;
}
.ben-ctn-2-img-4 {
    position: absolute;
    width: 200px;
    top: 240px;
    left: 372px;
    border-radius: 3px;
}
.ben-ctn-2-itw-1 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 330px;
    position: absolute;
    left: 650px;
    top: 60px;
}
.ben-ctn-2-itw-2 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 330px;
    position: absolute;
    left: 650px;
    top: 310px;
}
.ben-ctn-3-img-1 {
    position: absolute;
    width: 340px;
    top: 55px;
    left: -110px;
    border-radius: 3px;
}
.ben-ctn-3-img-2 {
    border-radius: 3px;
    position: absolute;
    width: 300px;
    top: 310px;
    left: 150px;
}
.ben-ctn-3-img-3 {
    border-radius: 3px;
    position: absolute;
    width: 300px;
    top: 100px;
    left: 269px;
}
.ben-ctn-3-itw-1 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 330px;
    position: absolute;
    left: 650px;
    top: 120px;
}
.ben-ctn-3-itw-2 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 330px;
    position: absolute;
    left: 650px;
    top: 320px;
}
.ben-ctn-3-itw-3 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 330px;
    position: absolute;
    left: 650px;
    top: 440px;
}
.ben-ctn-4-img-1 {
    position: absolute;
    width: 200px;
    top: 105px;
    left: 150px;
    border-radius: 3px;
}
.ben-ctn-4-img-2 {
    border-radius: 3px;
    position: absolute;
    width: 200px;
    top: 300px;
    left: 375px;
}
.ben-ctn-4-img-3 {
    border-radius: 3px;
    position: absolute;
    width: 300px;
    top: 423px;
    left: 46px;
}
.ben-ctn-4-itw-1 {
    font-family: "Times New Roman";
    font-size: 14px;
    color: #999999;
    border: 1px solid #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 15px;
    max-width: 330px;
    position: absolute;
    left: 378px;
    top: 61px;
}
  @keyframes bouncedelay {
    0% {
      bottom: 0;
    }
   25% {
      bottom: 13px;
    }
   100% {
      bottom: 0px;
    }
    
  }
  
  @-webkit-keyframes bouncedelay {
    0% {
        bottom: 0;
      }
     25% {
        bottom: 13px;
      }
     100% {
        bottom: 0px;
      }
  }

@media only screen and (max-width: 1200px) {
    .adds--left {
        margin: 100px 0px;
        left: 40px;
    }
}


.add--left--ok {
    width: 160px;
    height: 240px;
    border: 1px solid #999999;
    border-radius: 6px;
    background-color: #fafafa;
    margin: 5px;
    z-index: 1;
   
   
}
.add--left--ok:hover {
    cursor: pointer;
     background-image: url(./assets/adds/avoid.jpg); 
     -moz-animation: blink normal 15s linear infinite ; /* Firefox */
     -webkit-animation: blink normal 15s linear infinite ; /* Webkit */
     -ms-animation: blink normal 15s linear infinite ; /* IE */
     animation: blink normal 15s linear infinite ;
}
.add--left--useless {
    width: 160px;
    height: 240px;
    border: 1px solid #999999;
    border-radius: 6px;
    background-color: #fafafa;
    margin: 5px;
    z-index:-1;
}
.add--left--useless a{
    width: 100%;
    font-size: 8px;
    color: rgb(153, 153, 153) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.modal-1 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
}
.modal-1--ctn {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.modal-1--ctn img   {
    width: 400px;
    border: 1px solid grey;
    /* margin-left : 200px; */
}
.add-caption {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background: white;
    border: 1px solid grey;
    align-items: center;
    padding: 6px 30px;
    font-size: 22px;
    color: rgb(153, 153, 153);
}

.add-caption a {
    color: rgb(153, 153, 153);
    padding-left: 15px;
}

.modal-5 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
}
.modal-5--ctn {
    position: relative;
    margin-left: 700px;
    display: flex;
    flex-direction: column;
}
.modal-5--ctn img   {
    width: 450px;
}


.modal-6 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
}
.modal-6--ctn {
    position: relative;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}
.modal-6--ctn img   {
    width: 400px;
}

.modal-7 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
}
.modal-7--ctn {
    position: relative;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
}
.modal-7--ctn img   {
    width: 550px;
}


.modal-8 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
}
.modal-8--ctn {
    position: relative;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}
.modal-8--ctn img   {
   width: 384px;
}

.modal-9 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: transparent;
}
.modal-9--ctn {
    position: relative;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
}
.modal-9--ctn img   {
    width: 400px;
}

.links--right {
    display: flex;
    position: absolute;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 160px;
    top: 160px;
}
.links--right-top {
    display: flex;
    width: 400px;
}
.links--right-top a {
    display: flex;
    width: 215px;
}
.read-more-btn {
    display: none;
}
@media only screen and (max-width: 1280px) {
    .links--right {
        right: 120px;
    }
    .links--right-top a {
        display: flex;
        width: 187px;
    }
    .link--right {
        width: 310px;
    }
}

.link--right {
    width: 400px;
    height: 35px;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    min-width: 125px;
    margin: 5px;
    border: 1px solid #999999;
    background-color: #fafafa;
    z-index: 10;
}

/* .link--right:hover {
    background-color: white;
    cursor: pointer;
} */
.link--right--span, .link--right--span-top {
  display: none;
}
.link--right:hover~.link--right--span-top {
        display:block;
       margin-left: 20px;
       color: rgb(153, 153, 153);
       position: absolute;
       margin-top: 19px;
       z-index: 10;
   }
   
.link--right:hover~.link--right--span {
    display:block;
    margin-left: 20px;
    color: rgb(153, 153, 153);
    position: absolute;
    margin-top: -33px;
    z-index: 10;
}
.link--right--span:hover {
    display:block;
    margin-left: 20px;
    color: rgb(153, 153, 153);
    position: absolute;
    margin-top: -33px;
    z-index: 10;
}

.link--right--span-top:hover{
    display:block;
    margin-left: 20px;
    color: rgb(153, 153, 153);
    position: absolute;
    margin-top: 19px;
    z-index: 10;
}

@media only screen and (max-width: 1280px) {
    .links--right {
        right: 74px;
    }
    .links--right-top a {
        display: flex;
        width: 158px;
    }
    .link--right {
        width: 283px;
    }
}

 @keyframes movinggradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }100% {
        background-position: 0% 50%;
    }
}
@keyframes blink {
    from {
        background-position: 0 0;
      }
      to {
        background-position: 100% 100%;
      }
} 

.mobile-page {
    display: flex;
    justify-content: center;
    width: 100%;
}
@media only screen and (max-width: 1200px) {
    .klara-header,  .klara-bio, .xenia-header, .open-day-header  {
        font-size: 12px;
    }
    .klara-header {
        margin-left: 0;
        display: flex;
    }
    .available {
        color: rgb(153, 153, 153);
        font-size: 11px;
        margin-left: 20px;
        margin: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    .content {
        display: none;
    }

    .klara, .ben, .open-days, #clement, .serpent, .xenia, .logo-klarisa {
        display: none;
    }

    .artist-header {
        display: none;
    }
    .read-more-btn {
        animation: fadeIn ease 2s;
        -webkit-animation: fadeIn ease 2s;
        -moz-animation: fadeIn ease 2s;
        -o-animation: fadeIn ease 2s;
        -ms-animation: fadeIn ease 2s;
        display: block;
        z-index: 12;
        margin: 30px;
        background-color: rgb(235 235 235);
        padding: 17px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
        border-radius: 20px;
        margin-top: 45%;
    }
    .read-more-btn img   {
        width: 50px;
        border-radius: 5px;
        margin-left: 5px;
    }
    .read-more-top {
        font-size: 22px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .read-more-top span {
        font-size: 37px;
        margin-left: 20px;
    }
    .read-more-top-left {
        display: flex;
    align-items: center;
    }
    .read-more-bottom {
        text-align: left;
    font-size: 27px;
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    }
    .countdown {
    color: rgb(153, 153, 153);
    font-size: 7vw;
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
    flex-direction: column;
    }
    .countdown p {
        padding: 20px;
    }
}
@media only screen and (max-width: 700px) {
    .artist-header {
        display: none;
    }
    .header {
        justify-content: flex-start;
        flex-direction: column-reverse;
        height: auto;
        position: fixed;
        z-index: 1000;
        width: 100%;
        background-color: white;
        padding-left: 0;
    }
    .newsletter {
        margin-bottom: 20px;
        margin-top: 7px;
        border-radius: 30px;
        background-color: #f0f0f0;
        border: none;
        min-width: auto;
        width: 88%;
        max-width: 100%;

    }
    .newsletter  span {
        font-size: 32px;
        
    }
    .right {
        padding: 5px 0;
        width: 100%;
    justify-content: space-around;
    }
    .available {
        margin-left: 10px;
        font-size: 14px;
        padding-top: 5px;
        margin-left: 0;   
        margin: 10px;
    }
    .heart {
        padding-top: 4px;

    }
    .home-btn {
        margin: 0;
        padding-top: 4px;
    }
    .center--ctn {
        position: initial;
    }
    .artist-center--ctn {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .info--main {
        position: initial;
        display: block;
       margin: 30px; 
       right: 0;
        z-index: 10;
    }
    .info {
        min-width: auto;
        margin-top: 7px;
        border-radius: 30px;
        background-color: #f0f0f0;
        border: none;
    }
    .join {
        min-width: auto;
        margin-top: 7px;
        border-radius: 30px;
        background-color: #f0f0f0;
        border: none;
        margin-left: 0;
        
    }
    .content {
        position: absolute;
        margin: 10px;
        margin-top: 90px;
    }

    .adds-bottom {
        position: initial;
        display: flex;
    }
    .plus1ctn {
        display: flex;
        flex-direction: row;
        width: auto;
        border-left: none;
        height: auto;
        background-color: #fafafa;
    }
    .adds--left {
        margin: 0;
        left: auto;
    }
    .adds-center {
        position: initial;
    }
    .add-center {
        margin: 10px 10px 0 10px;
        width: 100%;
        max-width: auto;
        height: 320px;
        border: none;
    }
    .adds-bottom {
        border-top: none;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .add-bottom {
        border-radius: 3px;
    /* background: linear-gradient(300deg, #DDDDDD, white , #EFEFEF); */
    animation: movinggradient 2s ease infinite;
    background-size: 200%;
        width: 100px;
        height: 100px;
        border: none;
        margin: 0;
        padding: 20px;
    }
    .logo--main {
        position: initial;
        top: auto;
    }
    .adds--left {
        position: initial;
        width: 100%;
        margin-top: 10px;
    }
    .add--left--ok, .add--left--useless {
        width: 44vw;
        height: 100px;
        border: none;
        background-color: #fafafa;
    }
    .links--right {
        right: 0;
        position: initial;
        width: 100%;
        margin-top: 20px;
    }
    .link--right {
        width: auto;
    }
    .plus1ctn {
        flex-wrap: wrap;
    }
    .plus1 {
        height: 45px;
        width: 45px;
        margin: 5px;
        background-color: white;
    }
    
    .modal-1--ctn img   {
        width: 100%;
        border: 1px solid grey;
        margin-left: 0;
        height: auto;
    }
    .right--ctn {
        position: relative;
    }
    .logo--main {
        margin: 10px;
    }
    .info--main {
        margin: 20px 0 0 0;
    }
    .artist-center {
        height: 150px;
        width: 150px;
        font-size: 100px;
    font-weight: 300;
    background-color: #f0f0f0;
    border: none;
    }
   
  
    .klara {
        position: fixed;
    }
    .klara-imgs {
        margin-top: 0;
        margin-left: 0;
    }
    /* #klara-img1 {
        visibility: visible;
        width: 9%;
        position: relative;
        padding-left: 5px;
        padding-top: 46px;
        margin-right: 5px;
        margin-left: 0;
        margin-top: 0;
        } */
    #klara-itw2 {
        position: relative;
        visibility: visible;
        font-size: 14px;
        margin: 0px 10px;
        width: 88%;
        right: none;
        margin-top: -80px;
        /* margin-left: 20px; */
    }
    .klara-question {
        font-size: 20px;
    }
    .read-more-btn {
        margin: 15px;
        padding: 10px;
        position: absolute;
        top: 30%;
    }
    .read-more-btn img   {
        width: 30px;
        border-radius: 5px;
        margin-left: 0;
    }
    .read-more-top span {
        font-size: 20px;
        margin-left: 10px;
    }
    .read-more-top {
        font-size: 14px;
    }
    .read-more-bottom {
        text-align: left;
        font-size: 13px;
        padding-left: 10px;
        margin-top: 7px;
        margin-bottom: 2px;
    }
   
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }